.container{
  display: flex-row;
  height: 100vh;
  width: 100vw;
  padding: 2%;
}
.main-heading{
  color: red;  
  font-family: "Serif";
  text-align: center;
  font-size: 40px;
}
.content{
  padding: 5px;
}
.content-line{
  font-size: 20px;
  font-family: "Serif";
}
.content-subline{
  font-size: 16px;
  font-family: "Serif";
}
