.container{
  display: flex-row;
  height: 100vh;
  width: 100vw;
  padding: 3%;
}
.main-heading{
  color: red;  
  font-style: "Serif";
  text-align: center;
  font-size: 40px;
}
.content{
  padding: 5px;
}
